.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}
.wrapper {
	width: 200px;
	height: 200px;
	overflow: auto;
}

.filter {
	position: absolute;

	left: 0;
	width: 120px;
	transform: translateY(-50%);
	background-color: #61dafb;
	border-radius: 8px;
}
table {
	table-layout: fixed;
	width: 100%;
	max-height: 100px;
	border: 1px solid black;

	overflow: scroll;
	text-overflow: ellipsis;
	white-space: nowrap;
}
td {
	table-layout: fixed;
	width: 100px;
	min-height: 100px;
	max-height: 100px;
	border: 1px solid black;
	overflow: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.container {
	position: fixed;
	display: block;
	float: left;
	height: 100%;
	min-width: 100%;

	background-image: url("Comp/images/food.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}
.buttonWrapper {
	display: flex;
	position: fixed;
	width: 100%;
	height: 75%;
	align-items: center;
	justify-content: center;
}
h2,
h3 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;

	padding-top: 50px;
	color: #000000;
	-webkit-text-stroke: 1px rgb(136, 136, 136);
}
MapContainer:table {
	width: 50%;
}
.homePageButtons {
	width: 200px;
	height: 60px;
	margin-right: 25px;
	transform: translateY(-50%);
	color: white;
	background-color: #575757;
	border-radius: 50px;
}
.homePageButtons:hover {
	background-color: #89898a;
}
.jt {
	left: 0;
	position: absolute;
	width: 100%;
	height: 20%;
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
